#root {
  height: 100vh;
}

.App {
  /* text-align: center; */
  transform: scale(0.5);
  font-size: 30px;
  transform-origin: top left;
}

.viewer {
  width: 1940px;
  height: 1080px;
  /* padding: 20px 0; */
  overflow-y: auto;
  border: 1px solid #ddd;
}
.menu {
  display: flex;
  gap: 10px;
}

.title {
  height: 100px;
  background-color: green;
}

.background-input label,
button {
  display: block;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #999999;
  height: 80px;
  font-size: 50px;
}
.background-input input[type="file"] {
  display: none;
}


.type{
  display: flex;
  gap: 10px;
}